<%- include('../partials/header') %>
<body id='orders-container'>
    <!-- <img class='coindesk' src="images/coindesk.png" alt="coin-desk"> -->
    <div id='orders-tables'>
        <div id='top-row-tables'>
            <table class='open-orders-table'>
                <h1 class='orders-header'> OPEN ORDERS</h1>
                <thead>
                    <tr>
                        
                        <th>Coin</th>
                        <th>Order Type</th>
                        <th>Transaction ID</th>
                        <th>Date Created</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    <% allOrder.forEach(function(o){ %>
                        <td><form action="/orders/<%= o._id %>" method='POST'></form></td>
                        <td> <%= o.coin %></td>
                        <td> <%= o.bid %></td>
                        <td><a class='transaction-id-link' href="/orders/<%= o._id %>"><%= o._id %></a></td>
                        <td>DATE</td>
                        <td>12</td>
                        <td><% if (user) { %>
                            <form action='/orders/delete/<%= o._id %>?_method=DELETE" method="POST'>
                            <button class='remove-button'>remove </button>
                            <% }else { %>
                            <% } %>   
                        </form>
                        </td>
                    </tr>
                    <% }) %>
                    
                    <a class='sell-button'href="/trade">SELL</a></td>
                   
                </tbody>
            </table>
        </div>
    
            
            <h1 class='orders-header'>FILLED ORDERS</h1>
            <table class='filled-orders-table'>
                    <thead>
                        <tr>
                            <th>Coin</th>
                            <th>Order Type</th>
                            <th>Transaction ID</th>
                            <th>Date Created</th>
                            <th>Amount</th>
                            <th>Date Filled</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>BTC</td>
                        <td>BUY</td>
                        <td>someID</td>
                        <td>DATE</td>
                        <td>12</td>
                        <td>DATE</td>
                    </tbody>
                </table>
    </div>
</body>
<%- include('../partials/footer') %>