<%- include('../partials/header') %>
<body id='orders-container'>
    <!-- <img class='coindesk' src="images/coindesk.png" alt="coin-desk"> -->
    <% if (user) { %>
    <div id='orders-tables'>
        <div id='top-row-tables'>
            <table class='open-orders-table'>
                <h1 class='orders-header'> OPEN ORDERS</h1>
                <thead>
                    <tr>
                        <th>Coin</th>
                        <th>Order Type</th>
                        <th>Transaction ID</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                        
                    <tr>
                        <td> <%= order.coin %></td>
                        <td> <%= order.orderType %></td>
                        <td><a class ='orders-a' href="/orders"><%= order._id %></a></td>
                        <td><%= order.bid%></td>
                    </tr>
                    
                   
                </tbody>
            </table>
        </div>
    
            
            <h1 class='orders-header'>FILLED ORDERS</h1>
            <table class='filled-orders-table'>
                    <thead>
                        <tr>
                            <th>Coin</th>
                            <th>Order Type</th>
                            <th>Transaction ID</th>
                            <th>Amount</th>
                            <th>Date Created</th>
                            <th>Date Filled</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tbody>
                </table>
    </div>
    <% }else { %>
        <h3>Please
        <a href="/auth/google">Login</a>
        First
        </h3>
    <% } %>
</body>
<%- include('../partials/footer') %>